In [1]:
import dongsw.extension.pandas as pd
from dongsw.extension.sklearn.metrics import mean_squared_error, root_mean_squared_error_


data = pd.DataFrame({'1':[1,2,3], '2':[2,3,4]})
data

   1  2
0  1  2
1  2  3
2  3  4

In [14]:
pd.rolling_apply_(data, 2, lambda x: x.iloc[1])

             1    2
Unnamed 0  NaN  NaN
1          2.0  3.0
2          3.0  4.0